@model App_ViewModels.AppAccess
@{
    ViewBag.Title = "Actions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ================== MAIN WRAPPER START ================== -->
<div class="main-wrapper">
    <div class="topbarhead">
        <div class="row">
            <div class="col-sm-4">
                <h2>Actions</h2>
            </div>
            <div class="col-sm-8 text-right">
                <button type="button" class="btn btn-default btn-add" onclick="$('#newAction').modal('show');"><i class="fa fa-plus"></i>Add New</button>
            </div>
        </div>
    </div>
    <div class="content_wraper nicescroll">
        <div id="dgActions"></div>
    </div>
</div>
<!-- ================== MAIN WRAPPER END ================== -->


<div class="modal fade" id="newAction" role="dialog" area-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">New Action</h5>
            </div>
            <div class="modal-body">
                <form role="form" id="frmModule">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "actionid" })
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 text-right">
                                <label class="control-label required" for="actionName">Action Name</label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.ActionName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ActionName)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 text-right">
                                <label class="control-label required" for="actionName">Action Title</label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.ActionTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ActionTitle)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 text-right">
                                <label class="control-label" for="module">Module</label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div id="cmbModule"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 text-right">
                                <label class="control-label required" for="actionName">Controller</label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.ControllerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ControllerName)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-sm-3  text-right">
                                <label class="control-label required" for="moduleName">Sort Number</label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                @Html.TextBoxFor(model => model.SortNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SortNumber)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 text-right">
                                <label class="control-label required" for="description">Description</label>
                            </div>
                            <div class="col-md-8 col-sm-8 text-right">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control ui-txtnoresize autosize", rows = "3" })
                                <label class="ui-charlimit">max. 5000 characters</label>
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8  col-md-offset-3 col-sm-8  col-sm-offset-3">
                                <label class="checkbox-inline i-checks">
                                    @Html.CheckBoxFor(model => model.IsPublic, new { @checked = "checked", id = "isPublic" })
                                    <i></i> Public
                                </label>
                                <label class="checkbox-inline i-checks">
                                    @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked", id = "isActive" })
                                    <i></i> Active
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a id="btnSaveAction" class="btn btn-primary" title="Click to save this Action.">Save</a>
                <a id="btnCancel" href="javascript:void(0);" data-dismiss="modal" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/Assets/uaa_Actions.js"></script>
    <script>
        $(document).ready(function () {
            actions.loadModules();
            actions.getDataGrid();

            $('#btnCancel').click(function () {
                actions.clearForm();
            });

            $("#btnSaveAction").on("click", function () {
                //if (ati_common.validateForm("frmModule")) {
                actions.saveAction();
                //}
            });
        });

    </script>




}
